<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevos usuarios</title>
</head>
<body>
    
    <h1>Crear usuarios</h1>
    <form action="/usuarios/crear" method="post">

        <label for="nombre">Ingrese Nombre: </label>
        <input type="text" name="nombre" id="nombre">

        <label for="apellido">Ingrese Apellido: </label>
        <input type="text" name="apellido" id="apellido">

        <label for="edad">Ingrese Edad: </label>
        <input type="text" name="edad" id="edad">

        <input type="submit" value="registrar">
    
    </form>

</body>
</html>