<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">   
    <title>Inicio</title>
</head>

<body>
    <header>
        
        <nav class="navegador">
            <h1>LOGO</h1>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="/servicios">Contactanos</a></li>
                
            </ul>
        </nav>

    </header>
<div class="body2">
<div class="card-contenedor">
    <a href="/usuarios/todos" class="card">
        <div class="card-fondo" style="background-image: url(ingenieros.jpg);"></div>
        <div class="card-contenido">
            <p>Proyecto </p>
            <h3>CRUD</h3>
        </div>

    </a>

    <a href="#" class="card">
        <div class="card-fondo" style="background-image: url(../public/img/inbox-communication-notification-e-mail-mail-concept.jpg);"></div>
        <div class="card-contenido">
            <p>Parte 2 </p>
            <h3>Rooms</h3>
        </div>

    </a>

    <a href="#" class="card">
        <div class="card-fondo" style="background-image: url(../public/img/inbox-communication-notification-e-mail-mail-concept.jpg);"></div>
        <div class="card-contenido">
            <p>Parte 3 </p>
            <h3>Rooms</h3>
        </div>

    </a>

    <a href="#" class="card">
        <div class="card-fondo" style="background-image: url(../public/img/inbox-communication-notification-e-mail-mail-concept.jpg);"></div>
        <div class="card-contenido">
            <p>Parte 4 </p>
            <h3>Rooms</h3>
        </div>

    </a>

    
</div>
</div>
</body>
</html>